<div class="input-group mb-3">
  <input [(ngModel)]="autoMarca" type="text" class="form-control" placeholder="Buscar" aria-label="Recipient's username" aria-describedby="button-addon2" (keyup)="filtrar()">
</div>

<div class="table-responsive-sm table-responsive-md table-responsive-lg">
  <table class="table mb-5 table-striped table-bordered">
    <thead class="tabla-encabezado">
      <tr>
        <th>ID</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Color</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody *ngIf="lista.length">
      <tr *ngFor="let item of lista">
        <th>{{ item._id }}</th>
        <th>{{ item.marca }}</th>
        <th>{{ item.modelo }}</th>
        <th>{{ item.color }}</th>
        <th>{{ item.precio }}</th>
        <td>
          <button
            type="button"
            class="btn btn-danger m-2"
            (click)="eliminar(item)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="!lista.length">
      <tr>
        <td colspan="5">No hay registros para mostrar</td>
      </tr>
    </tbody>
  </table>
</div>
